<!-- init comentarios-->

<div class="card">

    <div class="card-titlet">
        <h2>Comentarios</h2>
    </div>

    <div class="card-content author">
        <div class="well comments">
           <h3>Jorge Andrade</h3>
           <p><small>16 jan 2015</small></p>
            <p class="lead">asas</p>
        </div>
    </div>

    <div class="card-content">
        <h3>Deja tu comentario</h3>

        <form action="">
            <div class="form-group">
               <label for="nombre">*Nombre:</label>
                <input type="text" class="form-control" placeholder="Nombre">
            </div>

            <div class="form-group">
               <label for="correo">*Correo </label>
                <input type="text" class="form-control" placeholder="Correo">
            </div>

            <div class="form-group">
               <label for="comentario">*Comentario </label>
                <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Deja tu comentario"></textarea>
            </div>
        </form>
    </div>

    <div class="card-action">
        <button class="btn btn-primary btn-block">Enviar</button>
    </div>
</div>

<!-- fin comentarios-->
