<h3 class="contact-home">Charlemos acerca de tu proyecto</h3>
<form id="contact" method="post" class="form" role="form">
    <div class="row">
        <div class="col-xs-6 col-md-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required autofocus />
        </div>
        <div class="col-xs-6 col-md-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Correo" type="email" required />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <textarea class="form-control" id="message" name="message" placeholder="Comentario" rows="5"></textarea>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <button class="btn btn-primary pull-right" type="submit">Enviar</button>
        </div>
    </div>
</form>
